################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Code/CS/Src/**/obj
/Code/CS/Src/**/.vs
/Code/CS/Src/**/bin
/Code/CS/Src/**/App_Data
/Code/CS/Src/.vs
